@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}

::-webkit-scrollbar-thumb {
    background-color: #D465EF;
    border-radius: 12px;
}

::-webkit-scrollbar {
    width:  .8rem;
    background-color: white;

}
/* Toggle class for Hamburger */
.show {
    display: block;
}
/* Toggle class for Header scroll */
.scroll {
    position: fixed;
    background-color: black !important;
    transition: .8s ease-in;
}
/* Success PopUp */
.success{
    display: flex;
    transition: .5s ease-in;
}
#contact{
 display: flex;
 align-items: center;
 flex-direction: column;
}
.icons a .icon:hover {
    background: linear-gradient(to bottom, #615cfd 0%, #d465ef 100%);
    transform: scale(1.2);
    transition: .5s ease-in-out;

}
input{
    margin-bottom: .75rem;
    padding: 1rem;
}
:placeholder-shown{
    padding-left: 1rem;
    padding-top: 1rem;
}

.home {
    background-image: url(/images/ddd.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.intro h4::after {
    position: absolute;
    background: #615CFD;
    width: 1px;
    height: 70px;
    content: '';
    right: 50%;
    top: 12%;

}

.welcome {
    height: 40vh;
}
.home {
    height: 70vh;
}
.name{
    text-shadow: 5px 2px 3px rgb(22 226 141);
}
.name span{
    text-shadow: none;
}

.portfolio::before {
    position: absolute;
    width: 100%;
    height: 60vh;
    content: '';
    background: #001D38;
    z-index: -1;
    left: 0;
    top: 0;

}


.jobList img {
    transform: 0;
    transition: all 5s ease;

}

.jobList:hover img {
    transform: translateY(calc(-100% + 20rem));
}

@media (min-width: 468px) and (max-width: 767px) {

    .project-container,
    .about,
    .welcome,
    .skills {
        padding: 2rem;
    }

    .about {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .test,
    .cards,
    .about .image,
    .about .details {
        max-width: 80%;
    }
}